body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
}

.promo {
    max-width: 40rem;
    padding: 1rem;
}

.motto h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.motto h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.motto p {
    font-size: 1.2rem;
}

.motto em {
    color: #ed7647;
    font-style: normal;
}

.motto ul {
    padding: 0;
    font-size: 1.2rem;
}

.motto ul li {
    display: inline-block;
    margin-right: 1rem;
}

@media (min-width: 60rem) {
    .promo {
        margin-top: 2rem;
    }
}
